<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=8.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51">
            <section name="TerminalDemo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=8.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <TerminalDemo.Properties.Settings>
            <setting name="Hostname" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TerminalType" serializeAs="String">
                <value>IBM-3278-2-E</value>
            </setting>
            <setting name="HostPort" serializeAs="String">
                <value>23</value>
            </setting>
        </TerminalDemo.Properties.Settings>
    </userSettings>
</configuration>
